html {
  background: #eee;
}

body,
input,
button {
  font-family: 'Vazir';
}

.add-btn {
  position: fixed;
  left: 20px;
  bottom: 20px;

  svg {
    margin-left: 10px;
  }
}

.modal-card-foot .button:not(:last-child) {
  margin-right: 0;
  margin-left: 0.5em;
}

.last-updated {
  font-size: 14px;
  margin-top: 1rem;
  color: #888;
}
