html {
  background: #eee;
}

body,
input,
button {
  font-family: 'Vazir';
}

.add-btn,
.back-btn {
  position: fixed;
  left: 20px;
  bottom: 20px;

  svg {
    margin-left: 10px;
  }
}

.modal-card-foot .button:not(:last-child) {
  margin-right: 0;
  margin-left: 0.5em;
}
